@import url(http://fonts.googleapis.com/css?family=Ubuntu);

#header {
	border-bottom: 1px solid #c0d8c0;
	margin-bottom: 2em;	
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 5em;
	line-height: 1em;
	padding: 0;
	margin: 0;	
}	

#elementos {
	margin: 2em 4em;
}

h2 {
	margin-left: -1em;
	margin-right: -1em;
	border-bottom: 1px solid #c0d8c0;
	font-family: 'Ubuntu', sans-serif;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
}

li {
	margin-bottom: 0.5em;
	font-family: 'Ubuntu', sans-serif;
	font-size: small;	
}

pre {	
	border: 1px solid #c0d8c0;
	padding: 1em;
	background-color: #f0f0f0;
}

h1 img {
	height: 1em;
	width: 1em;	
	vertical-align: text-bottom;	
	margin-right: 0.25em;
}

.ayuda {
	margin-top: 3em;
}

.ayuda p {
	font-family: 'Ubuntu', sans-serif;
	margin-left: 2em;
}

.ayuda pre {
	margin-left: 2em;
}

.top {	
	font-family: 'Ubuntu', sans-serif;
	font-size: x-small;
	text-align: right;
	clear: left;
}

address {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: small;
	font-style: normal;
	color: #808080;	
}