@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
	background-color: #E46B00;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E46B00, endColorstr=#006666);
	background-image: -moz-linear-gradient(top, #E46B00 0%, #006666 100%);
	background-image: -webkit-linear-gradient(top, #E46B00 0%, #006666 100%);
	background-image: -ms-linear-gradient(top, #E46B00 0%, #006666 100%);
	background-image: linear-gradient(top, #E46B00 0%, #006666 100%);
	background-image: -o-linear-gradient(top, #E46B00 0%, #006666 100%);
	background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%,#E46B00), color-stop(100%,#006666));
}

#header {
	border-bottom: 1px solid #c0d8c0;
	margin-bottom: 2em;	
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 5em;
	line-height: 1em;
	padding: 0;
	margin: 0;	
}	

#elementos {
	margin: 2em 4em;
}

h2 {
	margin-left: -1em;
	margin-right: -1em;
	border-bottom: 1px solid #c0d8c0;
	font-family: 'Ubuntu', sans-serif;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
}

li {
	margin-bottom: 0.5em;
	font-family: 'Ubuntu', sans-serif;
	font-size: small;	
}

h1 img {
	height: 1em;
	width: 1em;	
	vertical-align: text-bottom;	
	margin-right: 0.25em;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.ayuda {
	margin-top: 3em;
}

.ayuda p {
	font-family: 'Ubuntu', sans-serif;
	margin-left: 2em;
}

.ayuda pre {
	margin-left: 2em;
}

.top {	
	font-family: 'Ubuntu', sans-serif;
	font-size: x-small;
	text-align: right;
	clear: left;
}

address {
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-size: small;
	font-style: normal;
	color: #808080;	
}

.horizontal_menu {display:block;padding:0;margin:0;height:42px;position:relative;text-align:center;}
.horizontal_menu ul {padding:0;margin:0;border:1px solid #AAAAAA;background-color:#006666;}
.horizontal_menu ul li {display:inline-block;position:relative;background-color:#006666;}
.horizontal_menu ul li a {display:block;font-family:sans-serif;color:#f2b580;text-decoration:none;padding:10px 25px;}
.horizontal_menu ul li a:hover {color:#f2b580;background-color:#207979;}
.menu-background {position:absolute;top:0;right:0;font-size:8px;color:#cccccc;}
.menu-background a {color:#cccccc;text-decoration:none;font-weight:normal;}
.menu-background a:hover {color:#cccccc;text-decoration:none;font-weight:normal;}