/*
    Document   : Tarea 1/css/styleï¼css
    Created on : 2015-01-31 09:14 PM
    Author     : raarceca
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

header > img {
    float: left;
}