a {
    border: 2px solid #000000;
    font-family: Futura, Tahoma, sans-serif;
    color: aliceblue;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: darkgray}

body {
    background-color: darkslategrey;
}

h1 {
    color: aliceblue;
}